.card{
    width: 400px;
    height: 95vh;
    max-height: 95vh;
    background-color: #ffffff;
    border-radius: 20px;
    border: black solid 1px;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 1px;
    font-size: small;
}

.card-header{
    border-bottom: black solid 1px;
    font-size: small;
    display: flex;      
    align-items: center;          
    position: relative;  
}

.card-header h1{
    flex: 1;
    text-align: center;
    font-weight: lighter;
}

.card-header button{
    position: absolute;           
    right: 10px;   
    height: 45px;
    border-radius: 50%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #91353500;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.card-header button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user{
    display: flex;
    align-items: center;
    border-bottom: black solid 1px;
}

.img-user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}


.user-id{
    font-size: small;
    color: gray;
    margin: 0px;
}

.user-name{
    font-size: medium;
    font-weight: lighter;
    margin: 0px;
}   